/*
  TODO: use sass
*/
.theme-dark .navigation {
  background-color: #607D8B;
}

.theme-dark .navigation a {
  color: #FFFFFF; /*E0E0E0;*/
  text-shadow: 0 0 2px #455A64;
}

.theme-dark a.mute,
.theme-dark div.slider,
.theme-dark a.loud {
  float: left;
  display: block;
  margin: 16px 0px 0px 10px;

  /*background-color: black;*/
  color: #212121; /*#455A64;*/
}

.theme-dark a.mute i:after {
  content: "volume_off";
}
.theme-dark a.loud i:after {
  content: "volume_up";
}

.theme-dark div.slider {
  float: left;
  display: block;
  width: 100px;
  height: 24px;
  -border: 1px solid red;
  padding-top: 2px;
}
.theme-dark .volume {
  -webkit-appearance: none;
  width: 100%;
}
.theme-dark .volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  cursor: pointer;
  background-color: #212121;
  color: #fff;
  border-radius: 50%;
  margin-top: -6px;
}
.theme-dark .volume::-webkit-slider-runnable-track {
  height: 8px;
  cursor: pointer;
  background: #212121;
}


.theme-dark a.play,
.theme-dark a.pause {
  background-color: #FF5722;
  color: #FFFFFF; /*#455A64;*/
  box-shadow: 0px 0px 10px #455A64;
  transition: box-shadow .2s ease;
}

.theme-dark a.play i:after {
  content: "play_arrow";
}
.theme-dark a.pause i:after {
  content: "pause";
}

.theme-dark a.play:active,
.theme-dark a.pause:active {
  box-shadow: 0px 0px 10px #FF5722;
}
.theme-dark a.play:hover {
  box-shadow: 0px 0px 20px #FF5722;
}

.theme-dark .loading .progress {
  box-shadow: 0px 0px 1px 4px #BF360C; /*, 0px 0px 10px 4px #E64A19;*/
}
.theme-dark a.settings {
  float: right;
}
.theme-dark a.settings i:after {
  content: "settings";
}

.theme-dark a.playlist {
  font-weight: bold;
  float: left;
}
.theme-dark a.playlist i:after {
  content: "playlist_play";
}

.theme-dark a.settings i {
  transition: transform .1s ease;
}
.navigation a.settings:hover i {
  transform: rotate(30deg);
  transform-origin: 50% 50%;
}
